html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-900: #004d40;
  --primary-800: #00695c;
  --primary-700: #00796b;
  --primary-600: #00897b;
  --primary-500: #009688;
  --primary-400: #26a69a;
  --primary-300: #4db6ac;
  --primary-200: #80cbc4;
  --primary-100: #b2dfdb;
  --primary-50: #e0f2f1;
}

main {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-color: var(--primary-50);
}

/*============== header ==============*/
header {
  position: relative;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--primary-700);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: visible;
}

h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
}

.add-btn {
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--primary-50);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: var(--primary-900);
  font-weight: 700;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--primary-100);
}

.add-btn:active {
  transform: translateY(2px);
}

.add-btn .fa-solid {
  font-size: 1.25rem;
  padding-right: 10px;
}

/*============== form ==============*/
.form-overlay {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

form {
  width: clamp(300px, 80%, 400px);
}

fieldset {
  width: 100%;
  background-color: var(--primary-100);
  border: 1px solid black;
  border-radius: 4px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

legend {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: var(--primary-700);
  color: white;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 1.15rem;
  color: #333333;
}

input {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid gray;
  font-family: "Lato", sans-serif;
}

input:focus {
  outline: 1px solid var(--primary-500);
}

.checkbox-directions {
  text-align: center;
  font-size: 1.15rem;
  letter-spacing: 0.02rem;
  margin-top: 10px;
  color: #333333;
}

.checkbox-div {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

label[for="yes"] {
  text-transform: capitalize;
}

.submit-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 1.25rem;
  color: white;
  letter-spacing: 0.03rem;
  background-color: var(--primary-700);
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: 100ms;
}

.submit-btn:hover {
  background-color: var(--primary-500);
  color: white;
}

.submit-btn:active {
  transform: translateY(2px);
}

/*============== list ==============*/
.book-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-columns: minmax(250px, 1fr);
  grid-auto-rows: minmax(300px, 1fr);
  gap: 30px;
  padding: 25px;
  background-color: var(--primary-50);
  justify-content: center;
}

.book-card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn-div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

.edit-btn,
.remove-btn {
  padding: 0;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--primary-900);
}

.edit-btn:hover,
.remove-btn:hover {
  color: var(--primary-500);
}

.edit-btn:active,
.remove-btn:active {
  transform: translateY(2px);
}

.author,
.heading {
  text-transform: capitalize;
}

.heading {
  width: 22ch;
  text-align: center;
}

.slider {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: green;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  margin-top: 15px;
}

.slider-btn {
  overflow: hidden;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  background-color: lightsteelblue;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}

.slider.false {
  flex-direction: row-reverse;
  background: red;
}

.text {
  text-align: center;
  width: 50%;
  color: white;
}
