* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --calculator-body: #e5e4e2;
  --calculator-border: #d6d5d3;
  --primary-btn: #232b2b;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: "Lato", sans-serif;
  background: url("./sprinkle.webp");
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  border: 1px solid black;
  border-radius: 18px;
  aspect-ratio: 1/1.75;
  padding: 25px;
  gap: 20px;
  background-color: var(--calculator-body);
  border: 1px solid var(--calculator-border);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.screen {
  height: 30%;
  width: 100%;
  border: 1px solid black;
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  font-family: "Iceberg", Arial, sans-serif;
  background-color: #b6b6b4;
  border: 1px solid #a3a3a1;
}

.currentEquation {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3.5rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40%;
  width: 100%;
  font-size: 1.25rem;
}

.btnContainer {
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-areas: "a b b", "b b b b", "b b b b", "b b b b", "b b c";
}

.clear.btn {
  grid-column-start: 1;
  grid-column-end: 3;
  text-transform: uppercase;
  background-color: goldenrod;
  border: none;
  color: var(--primary-btn);
}

.equals.btn {
  grid-column-start: 3;
  grid-column-end: 5;
}

.number.btn,
.decimal.btn {
  background-color: var(--primary-btn);
  border: 1px solid #2f3838;
}

.negative,
.operator,
.equals {
  background-color: #7393b3;
  border: #6082b6;
}

.btn {
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}

.btn:active {
  transform: translateY(2px);
}
