:root {
  --gray-100: #f1f5f9;
  --gray-300: #cbd5e1;
  --gray-500: #64748b;
  --gray-700: #334155;
  --gray-900: #0f172a;

  --primary-100: #deccf8;
  --primary-300: #a573eb;
  --primary: #8b4be5;
  --primary-700: #691ed2;
  --primary-900: #4d1699;

  --accent-100: #dcfce7;
  --accent-300: #6ee7b7;
  --accent-500: #10b981;
  --accent-700: #047857;
  --accent-900: #14532d;
}

.btn {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--accent-300);
  color: var(--accent-900);
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100px;
}

.btn:active {
  box-shadow: none;
}

body {
  background-color: var(--gray-100);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1 {
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 700;
  color: white;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wrapper {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: center;
}

.form {
  height: 100%;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.form h3 {
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: capitalize;
  color: var(--gray-900);
  border-bottom: 2.5px solid var(--primary);
  padding-bottom: 5px;
  margin-bottom: 20px;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}

legend {
  font-weight: 500;
  color: var(--gray-900);
  border-bottom: 2.5px solid var(--primary);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

legend::first-letter {
  text-transform: uppercase;
}

input,
textarea {
  position: relative;
  border: none;
  background-color: var(--gray-100) !important;
  border: 1px solid var(--gray-300);
  padding: 8px;
  border-radius: 4px;
  font-family: "Open Sans";
  font-weight: 400;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
}

.percent-45 {
  width: 45%;
}

.percent-22 {
  width: 18.5%;
}

div.location {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input:focus,
textarea:focus {
  outline: none;
}

#avatar::-webkit-file-upload-button {
  visibility: hidden;
}

#avatar::before {
  content: "add avatar";
  cursor: pointer;
  background-color: var(--accent-300);
  color: var(--accent-900);
  font-weight: 700;
  text-transform: capitalize;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
}

.date-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.start-date,
.end-date {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;
  row-gap: 8px;
}

.start-date input,
.end-date input:not(.end-date input[type="checkbox"]) {
  width: 50px;
}

input[type="checkbox"] {
  width: 17.5px;
  height: 17.5px;
  cursor: pointer;
}

h4 {
  width: 100%;
  font-family: "Open Sans";
  font-weight: 500;
  color: var(--gray-900);
  text-transform: capitalize;
}

label {
  font-weight: 500;
}

.end-date p {
  font-weight: 300;
  color: var(--gray-900);
  margin-right: 4px;
  margin-left: 4px;
}

.add,
.cancel,
.submit {
  width: 100px;
}

i {
  font-weight: 700;
  vertical-align: middle;
  font-size: 1.15rem;
}

.submit,
.cancel {
  margin-top: 28px;
}

.cancel.btn,
.delete.btn {
  background-color: #fecaca;
  color: #991b1b;
}

.submitted-display {
  border: 1px solid var(--gray-300);
  background-color: var(--gray-100);
  border-radius: 4px;
  width: max(300px, 55%);
  padding: 8px;
  margin-bottom: 16px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submitted-display > .btn-container {
  gap: 12px;
}

.submitted-display:last-of-type {
  margin-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info p {
  font-weight: 300;
}

.edit,
.delete {
  width: 25px;
  height: 25px;
}

article.preview {
  height: 100%;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 8 / 11;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  padding: 12px;
  max-width: 300px;
}

.sidebar img {
  max-width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  margin: 0 auto;
  padding-bottom: 16px;
}

.sidebar p {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.sidebar p i {
  height: 30px;
  width: 30px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.main-content {
  width: 100%;
}

.name-occupation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  padding: 24px;
  color: white;
}

.name-occupation h2 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  display: flex;
  align-items: center;
}

.name-occupation p {
  font-size: 1.75rem;
  font-weight: 300;
}

.description {
  padding: 20px;
}

.description p {
  font-weight: 300;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.work-experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.work-experience h3 {
  font-weight: 700;
  text-transform: capitalize;
  border-bottom: 2.5px solid black;
  padding-bottom: 5px;
}

.work-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.work-item h4 {
  font-weight: 500;
  color: var(--gray-900);
  font-style: none;
}

.work-item div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-transform: capitalize;
  font-weight: 300;
  color: var(--gray-700);
}

.work-item div:last-of-type {
  text-align: end;
}
